@import '../variables/variables.scss';


.GameLoop {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg1);

    .main {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 15%;
    }

    .progress {
        color: $t1;
    }
}