@import '../variables/variables.scss';

.answer-container {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    padding-top: 40px; 
    padding-left: 20px;  
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #333;
    border-radius: 12px;


    .timer {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .question {
        grid-area: 1 / 2 / 2 / 6;

        .question_box {
            width: 550px;
            height: 48px;
            background-color: #888;
            border-radius: 7px;
            margin: 25px 0;
        }
    }

    .option1 {
        grid-area: 2 / 2 / 3 / 4;

        .option_answer {
            background-color: #888;
            width: 250px;
            height: 50px;
            border-radius: 7px;
        }
    }

    .option2 {
       grid-area: 2 / 4 / 3 / 6; 

        .option_answer {
            background-color: #888;
            width: 250px;
            height: 50px;
            border-radius: 7px;
            justify-self: flex-end;
        }
    }

    .option3 {
        grid-area: 3 / 2 / 4 / 4;

        .option_answer {
            background-color: #888;
            width: 250px;
            height: 50px;
            border-radius: 7px;
        }
    }

    .option4 {
        grid-area: 3 / 4 / 4 / 6;

        .option_answer {
            background-color: #888;
            width: 250px;
            height: 50px;
            border-radius: 7px;
            justify-self: flex-end;
        }
    }

    .submit {
        grid-area: 4 / 5 / 5 / 6;

        .submit_box {
            width: 100%;
            justify-self: flex-end;
            border-radius: 7px;
            height: 50px;
            background-color: #888;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;            
        }
    }
}