@import '../variables/variables.scss';

.active_button {
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background-color: $accent1;
    color: $switch1;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }
}

.hollow_active_button {
    min-width: 100px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background-color: transparent;
    border: 1px solid $accent1;
    color: $accent1;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgba(0, 180, 216, 0.2);
        transform: translateY(-2px);
    }
}

.hollow_active_button_version2 {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background-color: transparent;
    border: 1px solid $accent1;
    color: $accent1;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: rgba(0, 180, 216, 0.2);
        transform: translateY(-2px);
    }
}

.homepage_active_button {
    width: 150px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background-color: $accent2;
    color: $switch1;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }
}

.hollow_active_button_version3 {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font1;
    font-weight: 600;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid $accent2;
    color: $accent2;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $accent2light;
        transform: translateY(-2px);
    }

    @media (max-width: 768px) {
        padding: 12px 24px;
    }
}

.invitationDetails {
    margin: 20px 0;

    .connect_button {
        color: $accent1;
        background-color: $accent1light;
        border: 1px solid $accent1;
        padding: 6px 12px;
        border-radius: 7px;
        font-family: $font1;
        font-size: 1.1rem;

        &:hover {
            background-color: $accent1;
            color: $switch1;
        }

        &:active {
            color: $accent1;
            background-color: $accent1light;
        }
    }
}