@import '../variables/variables';

.password-background {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font1;
    color: $text1;
    background-color: rgba(0, 0, 0, 0.2);

    .change-password-container {
        height: 200px;
        width: 200px;
        background-color: $darker;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        padding: 20px;

        button {
            color: $text1;
        }
    }
}