@import '../variables/variables.scss';

.navbar {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text1;
    background-color: $darker;
    margin-top: auto;
    height: auto;
    width: 100%;
    border-bottom: 1px solid $border;
    box-shadow: 0px -10px 50px 0px rgb(0, 0, 0, 0.2);

    .logo {
        font-size: 2rem;
        color: $accent1;
        background: linear-gradient(to right, $accent1, $accent2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-weight: 600;
        font-family: $font2;
    }

    .navlinks {
        font-family: $font1;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;

        li {
            margin: 0 10px;
            font-size: 1rem;
        }
    }

    .button-container {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        * {
            margin: 0 5px;
        }

        .switch {
        background-color: $switch1;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        position: relative;
        cursor: pointer;
        border: 0.5px solid rgba(10, 10, 10, 0.2);
        }

        .switch::before {
        height: 80%;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(90deg, $switch2 50%, $switch1 50%);
        content: '';
        border-radius: 50%;
        transform-origin: 50% 50%;
        transition: transform 0.5s ease-in-out;
        }

        .switch.spin-forward::before {
        transform: translate(-50%, -50%) rotate(-180deg);
        }

        .switch.spin-backward::before {
        transform: translate(-50%, -50%) rotate(0);
        }
    }
}