@import '../variables/variables.scss';

.active_button {
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background: linear-gradient(90deg, $p1, $p2);
    color: $pt2;
}

.hollow_active_button {
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background-color: transparent;
    border: 1px solid $p1;
    color: $p1;
    text-transform: uppercase;
}

.homepage_active_button {
    width: 150px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: $font2;
    background: linear-gradient(90deg, $p1, $p2);
    color: $pt2;
}