@import '../variables/variables.scss';

.card_component_homepage {
    width: 300px;
    height: 150px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    background: 
        linear-gradient($bg1, $bg1) padding-box,
        linear-gradient(45deg, $rbg1 0%, $bg1 90%) border-box;
    border: 2px solid transparent;
    border-radius: 24px;

    h2 {
        color: $p1;
        font-family: $font2;
        font-weight: 300;
    }

    p {
        font-family: $font1;
        color: $t1;
    }
}