/**
 * SCSS Reset
 * A modern reset with sensible defaults
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Remove outline for non-keyboard users */
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

/* Reset tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset fieldset */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Reset iframe */
iframe {
  border: 0;
}

/* Remove text-shadow when selecting text */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Print styles */
@media print {
  *,
  *::before,
  *::after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.Homepage {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
}
.Homepage .main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15%;
}
.Homepage .main .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  gap: 40px;
}
.Homepage .main .homepage-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  margin: 30px 0;
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.GameLoop {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
}
.GameLoop .main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15%;
}
.GameLoop .progress {
  color: var(--t1);
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.navbar {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--t1);
  background-color: var(--bg2);
  margin-top: auto;
  height: auto;
  width: 100%;
  border-bottom: 1px solid var(--hft);
  box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.2);
}
.navbar .logo {
  font-size: 2rem;
  color: var(--p1);
  background: linear-gradient(to right, var(--p1), var(--p2));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
  font-family: "Tilt Warp", sans-serif;
}
.navbar .navlinks {
  font-family: "Titillium Web", sans-serif;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}
.navbar .navlinks li {
  margin: 0 10px;
  font-size: 1rem;
}
.navbar .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar .button-container * {
  margin: 0 5px;
}
.navbar .button-container .switch {
  background-color: var(--sw1);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  position: relative;
  cursor: pointer;
  border: 0.5px solid rgba(10, 10, 10, 0.2);
}
.navbar .button-container .switch::before {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, var(--sw2) 50%, var(--sw1) 50%);
  content: "";
  border-radius: 50%;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
}
.navbar .button-container .switch.spin-forward::before {
  transform: translate(-50%, -50%) rotate(-180deg);
}
.navbar .button-container .switch.spin-backward::before {
  transform: translate(-50%, -50%) rotate(0);
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--bg2);
  color: var(--t1);
  margin-bottom: auto;
  border-top: 1px solid var(--hft);
  font-family: "Titillium Web", sans-serif;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.active_button {
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: "Tilt Warp", sans-serif;
  background: linear-gradient(90deg, var(--p1), var(--p2));
  color: var(--pt2);
}

.hollow_active_button {
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: "Tilt Warp", sans-serif;
  background-color: transparent;
  border: 1px solid var(--p1);
  color: var(--p1);
  text-transform: uppercase;
}

.homepage_active_button {
  width: 150px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-family: "Tilt Warp", sans-serif;
  background: linear-gradient(90deg, var(--p1), var(--p2));
  color: var(--pt2);
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.card_component_homepage {
  width: 300px;
  height: 150px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(var(--bg1), var(--bg1)) padding-box, linear-gradient(45deg, var(--rbg1) 0%, var(--bg1) 90%) border-box;
  border: 2px solid transparent;
  border-radius: 24px;
}
.card_component_homepage h2 {
  color: var(--p1);
  font-family: "Tilt Warp", sans-serif;
  font-weight: 300;
}
.card_component_homepage p {
  font-family: "Titillium Web", sans-serif;
  color: var(--t1);
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}
.title_section h2 {
  background: linear-gradient(90deg, var(--p1), var(--p2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Tilt Warp", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
.title_section p {
  color: var(--t1);
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  width: 60%;
  text-align: center;
  margin-top: 10px;
}

:root {
  --bg1: #050505;
  --rbg1: #E2E2E2;
  --bg2: #0A0A0A;
  --p1: #00F5FF;
  --p2: #FF00FF;
  --p3: #b32EE8;
  --t1: #E2E2E2;
  --t2: #FAFAFA;
  --sw1: #FAFAFA;
  --sw2: #050505;
  --pt2: #F8F9FA;
  --hft: #666;
}

[data-theme=light] {
  --bg1: #FAFAFA;
  --rbg1: #e2e2e2;
  --bg2: #F8F9FA;
  --p1: #00A8FF;
  --p2: #FF00AA;
  --p3: #9C27FF;
  --t1: #666;
  --t2: #333;
  --pt2: #E2E2E2;
  --hft: "transparent";
}

@property --t {
  syntax: "<number>";
  initial-value: 20;
  inherits: true;
}
@property --s {
  syntax: "<integer>";
  initial-value: 0;
  inherits: true;
}
.countdown {
  --t-initial: var(--t);
  --s: calc(var(--t)/1);
  display: grid;
  margin: 1em auto;
  width: var(--d);
  height: var(--d);
  animation: t calc(var(--t-initial) * 1s) linear forwards;
}

.countdown::after {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  color: var(--t1);
  font: calc(0.5 * var(--d))/2 ubuntu mono, consolas, monaco, monospace;
  font-weight: 500;
  counter-reset: s var(--s);
  content: counter(s, decimal-leading-zero);
}

@keyframes t {
  from {
    --t: var(--t-initial);
  }
  to {
    --t: 0;
  }
}
.countdown svg {
  grid-column: 1;
  grid-row: 1;
}

.countdown circle[r] {
  fill: none;
  stroke: silver;
}

.countdown circle[r] + circle[r] {
  --k: calc(var(--t)/var(--t-initial)) !important;
  transform: rotate(-90deg) !important;
  stroke-linecap: round !important;
  stroke: color-mix(in hsl shorter hue, var(--c1) calc(var(--k) * 100%), var(--c2)) !important;
  stroke-dasharray: var(--k) 1 !important;
}/*# sourceMappingURL=styles.css.map */